.fas {
  margin-right: 0.5rem;
}
.container {
  max-width: $max-width;
  margin: auto;
  padding: 0 1rem;
}

.primary {
  color: $primary-color;
}
.dark {
  color: $dark-color;
}
.success {
  color: $success-color;
}
.danger {
  color: $danger-color;
}
.white {
  color: white;
}

.lead {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 300;
  margin-bottom: 1rem;
  &.style-lead {
    color: white;
    width: 100%;
    margin-top: 1rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
  }
  &.primary {
    color: $primary-color;
  }
  &.dark {
    color: $dark-color;
  }
  &.success {
    color: $success-color;
  }
  &.danger {
    color: $danger-color;
  }
  &.white {
    color: white;
  }
}
.small-info {
  color: #999;
}
.sc-heading {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  &.primary {
    color: $primary-color;
  }
  &.dark {
    color: $dark-color;
  }
  &.success {
    color: $success-color;
  }
  &.danger {
    color: $danger-color;
  }
}
.py-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
  &.primary {
    color: $primary-color;
  }
  &.dark {
    color: $dark-color;
  }
  &.success {
    color: $success-color;
  }
  &.danger {
    color: $danger-color;
  }
  &.white {
    color: white;
  }
}
.btn {
  padding: 0.6rem 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in;
  &-primary {
    background: $success-color;
    color: white;
  }
  &-light {
    background-color: $light-color;
    color: $dark-color;
  }
  &-danger {
    background-color: $danger-color;
    color: $light-color;
  }
  &-dark {
    background-color: $dark-color;
    color: $light-color;
  }
}

.bg {
  &-dark {
    @include set-background(#333);
  }
  &-light {
    @include set-background($light-color);
  }
  &-primary {
    @include set-background($primary-color);
  }
  &-danger {
    @include set-background($danger-color);
  }
  &-success {
    @include set-background($success-color);
  }
}
.border {
  border-style: solid;
  border-width: 0.5px;
  &.bd-primary {
    border-color: $primary-color;
  }
  &.bd-dark {
    border-color: $dark-color;
  }
}
