$primary-color: #64dd17;
$dark-color: #232f34;
$light-color: #eceff1;
$danger-color: #dc3545;
$success-color: #09af00;
$white-color: #ffffff;
$max-width: 1300px;

@mixin set-background($color) {
  background-color: $color;
}
