@import "config";
@import "utilities";

@mixin d-flex($type, $justify-type, $align-type) {
  display: flex;
  flex-direction: $type;
  justify-content: $justify-type;
  align-items: $align-type;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}
ul {
  list-style-type: none;
}
img {
  width: 100%;
}
a {
  color: white;
  text-decoration: none;
}
.sub-hd {
  width: 100%;
  padding: 0.75rem 0.6rem;
  color: white;
  border-radius: 5px;
}

#navNavbar {
  position: fixed;
  width: 100%;
  top: 0;
  &.opacity-present {
    opacity: 0.8;
  }
  &.opacity-absent {
    opacity: none;
  }
  z-index: 1;
  border-bottom: solid 2px $primary-color;
  #nav-content {
    @include d-flex(row, space-between, center);
    .fas {
      color: $primary-color;
    }
    #dashboard {
      padding: 1rem 0rem;
    }
    ul {
      @include d-flex(row, none, none);
      li {
        margin: 0 0.35rem;
        padding: 1rem 0.75rem;
        font-size: 1.1rem;
        font-weight: 400;
        a {
          color: white;
          .fas {
            margin-right: 0.3rem;
          }
          &.align {
            @include d-flex(row, none, center);
          }
          &.active {
            padding: 0.5rem 0;
            border-bottom: solid 2px white;
          }
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}
#header {
  position: relative;
  background: url("../img/index-header-img-2.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  color: $white-color;
  #dark-overlay {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    #header-content {
      @include d-flex(column, center, center);
      color: white;
      width: 80%;
      height: inherit;
      margin: auto;
      text-align: center;
      #primary-heading {
        font-size: 4rem;
      }
      #sub-heading {
        height: 30px;
        color: $primary-color;
        margin-bottom: 1rem;
      }
      #buttons {
        @include d-flex(row, none, none);

        margin-top: 1.5rem;
        a {
          color: black;
          padding: 0.6rem 1rem;
          border-radius: 10px;
        }
        #login-btn {
          margin-right: 0.75rem;
          color: white;
        }
        #login-btn:hover {
          background-color: $success-color;
          transition: all 600ms ease;
        }
        #sign-btn:hover {
          background-color: #bdbdbd;
          transition: all 600ms ease;
        }
      }
    }
  }
}
#login,
#register,
#developers,
#dashboard,
#experience,
#education,
#profile {
  height: 100%;
  width: 100%;
}

.inner-content {
  width: 60%;
  padding: 1rem 1rem;
  height: inherit;
  margin: 0 auto;
  @include d-flex(column, flex-start, flex-start);
  .fa-user {
    border: solid 2px green;
    border-radius: 50%;
    padding: 0.75rem;
    margin-right: 0.5rem;
    &.dashboard {
      border-radius: none;
    }
  }

  .form {
    width: 100%;
  }
  .input-group {
    margin: 1.5rem 0rem;
    &.url-input {
      @include d-flex(row, none, center);
    }
    input,
    textarea,
    select {
      padding: 0.6rem 0.75rem;
      width: 100%;
      border: solid 0.5px #999;
      font-size: 1.3rem;
      border-radius: 5px;
      &::-webkit-input-placeholder {
        color: #546e7a;
      }
    }
  }
  .developer {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 4fr 2fr;
    grid-gap: 2rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    img {
      display: block;
      height: 100%;
    }
    .developer-info {
      @include d-flex(column, center, flex-start);
      padding-left: 1rem;
      .fa {
        margin-right: 0.75rem;
      }
      h3 {
        font-size: 24px;
        margin-bottom: 1rem;
      }
      a {
        margin-top: 1rem;
      }
    }
  }
  .dashboard-links {
    margin-top: 1rem;
    margin-bottom: 2rem;
    .btn {
      margin-right: 1rem;
      &:hover {
        background-color: lighten($dark-color, 5%);
        color: white;
      }
      .fas,
      .fab {
        margin-right: 0.5rem;
      }
    }
  }

  .table {
    width: 80%;
    margin: 1rem 0rem;
    margin-right: auto;
    th {
      padding: 1rem;
      margin-left: 0.5rem;
      background-color: $light-color;
    }
    td {
      padding: 0.75rem 1rem;
      margin-left: 0.5rem;
    }
  }
  .fa {
    margin-right: 0.5rem;
  }
  .btn-primary {
    display: block;
    margin-bottom: 1.5rem;
    &:hover {
      background-color: lighten($primary-color, 5%);
      color: #333;
    }
  }
  .btn-light {
    &:hover {
      background-color: lighten($dark-color, 5%);
      color: white;
    }
    .fas {
      margin-right: 0.5rem;
    }
  }
  .url-link {
    margin-right: 1.1rem;
    &.fa-twitter {
      color: #38a1f3;
    }
    &.fa-facebook {
      color: #3b5998;
    }
    &.fa-youtube {
      color: #c4302b;
    }
    &.fa-linkedin {
      color: #0077b5;
    }
    &.fa-instagram {
      color: #3f729b;
    }
  }
  .profile-menu {
    width: 100%;
    color: white;
    padding: 2rem;
    height: inherit;
    border-radius: 10px;
    text-align: center;
    @include d-flex(column, center, center);
    margin: 1.3rem 0rem;
    img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
    }
    .profile-menu-icon {
      @include d-flex(row, none, center);
      margin-top: 1rem;
    }
    .fab {
      color: white;
      margin-right: 0.75rem;
    }
    .bio-p {
      padding-bottom: 1.5rem;
      border-bottom: solid 1px #546e7a;
    }
  }
  .prsnl-info {
    width: 100%;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    .scroll {
      overflow-x: hidden;
    }
    .info {
      @include d-flex(column, flex-start, space-between);
      padding: 2rem;
      height: 400px;
      li {
        border-bottom: solid 1px #546e7a;
      }
      .mb-1 {
        margin-bottom: 1.5rem;
      }
      .mb-2 {
        margin-bottom: 1rem;
      }
    }
  }
  .developer-skills {
    &.col {
      @include d-flex(column, center, flex-start);
    }
    &.row {
      @include d-flex(row, space-between, center);
    }
    span {
      margin-right: 0.75rem;
    }
    .fas {
      margin-right: 0.75rem;
      color: $success-color;
    }
  }
  .btn-dark {
    &:hover {
      background-color: $dark-color;
      color: white;
    }
  }
  .post {
    padding: 1.5rem;
    margin: 1.2rem 0;
    border-radius: 10px;
    .person-post {
      display: grid;
      grid-template-columns: 1fr 4fr;
      grid-gap: 2.3rem;
      align-items: center;
      .user-image {
        @include d-flex(column, none, center);
        height: 150px;
        width: 150px;
        padding: 0.75rem;
        img {
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 50%;
          display: inline-block;
        }
        .dark {
          font-weight: 600;
        }
      }
      .content {
        .info {
          padding: 0.75rem 0;
          p {
            color: $dark-color;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .rate {
          margin-bottom: 1rem;
          .btn-dark {
            margin-right: 1rem;
          }
          .discuss {
            margin-top: 1rem;
            width: 50%;
            border-radius: 4px;
            text-align: center;
          }
        }
      }
    }
  }
}
.mb-top {
  margin-top: 4rem;
}
//Dashboard Pop-up
.popup {
  background-color: red;
  width: 100vw;
  position: fixed;
  top: 71px;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 1rem;
}
.G-login {
  font-size: 1.5rem;
  border-radius: 4px;
}

// Responsive
@media only screen and (max-width: 700px) {
  #navNavbar {
    #nav-content {
      @include d-flex(column, none, none);
      #dashboard {
        font-size: 1rem;
        text-align: center;
        padding: 0.5rem 0;
      }
      ul {
        @include d-flex(row, none, none);
        li {
          font-size: 0.8rem;
          font-weight: 400;
          padding: 0.75rem 0.6rem;
        }
      }
    }
  }
  .popup {
    padding: 0.5rem 0;
    font-size: 0.5rem;
    top: 87px;
    z-index: 2;
  }
  #header {
    #dark-overlay {
      #header-content {
        #primary-heading {
          font-size: 2rem;
        }
        #sub-heading {
          height: 18px;
          font-size: 1rem;
          color: $primary-color;
          margin-bottom: 0.75rem;
        }
        #buttons {
          width: 100%;
          margin-top: 1.5rem;
          @include d-flex(row, center, center);
          a {
            text-align: center;
            color: black;
            padding: 0.3rem 0.75rem;
            border-radius: 5px;
          }
          #login-btn {
            margin-right: 0;
          }
        }
        p.lead {
          font-size: 0.75rem;
          line-height: 1.3rem;
        }
      }
    }
  }
  .btn {
    font-size: 1rem;
    padding: 0.3rem 0.6rem;
  }
  .inner-content {
    width: 100%;
    height: inherit;
    overflow-x: auto;
    overflow-y: scroll;
    @include d-flex(column, flex-start, flex-start);
    .lead {
      font-size: 1rem;
    }
    .fa-user {
      padding: 0.5rem;
      font-size: 1rem;
    }
    .developer {
      @include d-flex(column, center, center);
      width: 100%;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      img {
        display: inline-block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .developer-info {
        margin-bottom: 1rem;
        padding-left: 0;
        @include d-flex(column, center, center);
        .fa {
          margin-right: 0.75rem;
        }
        h3 {
          font-size: 0.9rem;
          margin-bottom: 0.5rem;
        }
        a {
          margin-top: 0.45rem;
          margin-bottom: 0;
          font-size: 0.75rem;
        }
      }
      .developer-skills {
        @include d-flex(row, space-between, center);
        span {
          margin-right: 0.3rem;
        }
        .fas {
          margin-right: 0.3rem;
          color: $success-color;
        }
      }
    }
    .dashboard-links {
      @include d-flex(row, space-between, none);
      margin-top: 1rem;
      margin-bottom: 2rem;
      .btn {
        margin-right: 0.5rem;
        padding: 0.25rem;
        font-size: 0.75rem;
      }
    }
    .table {
      width: 100%;
      margin: 1rem 0rem;
      thead,
      tbody {
        width: 100%;
      }
      th {
        width: inherit;
        padding: 0.3rem;
        margin-left: 0.5rem;
        background-color: $light-color;
      }
      td {
        padding: 0.45rem 0.6rem;
        margin-left: 0.5rem;
      }
    }
    .fa {
      margin-right: 0.5rem;
    }
    .btn-primary {
      display: block;
      margin-bottom: 1.5rem;
      &:hover {
        background-color: lighten($primary-color, 5%);
        color: #333;
      }
    }
    .btn-light {
      &:hover {
        background-color: lighten($dark-color, 5%);
        color: white;
      }
      .fas {
        margin-right: 0.5rem;
      }
    }
    .url-link {
      margin-right: 1.1rem;
      &.fa-twitter {
        color: #38a1f3;
      }
      &.fa-facebook {
        color: #3b5998;
      }
      &.fa-youtube {
        color: #c4302b;
      }
      &.fa-linkedin {
        color: #0077b5;
      }
      &.fa-instagram {
        color: #3f729b;
      }
    }
    .profile-menu {
      width: 100%;
      color: white;
      padding: 2rem;
      height: inherit;
      border-radius: 10px;
      text-align: center;
      @include d-flex(column, center, center);
      margin: 1.3rem 0rem;
      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }
      .profile-menu-icon {
        @include d-flex(row, none, center);
        margin-top: 1rem;
      }
      .fab {
        color: white;
        margin-right: 0.75rem;
      }
      .bio-p {
        padding-bottom: 1.5rem;
        border-bottom: solid 1px #546e7a;
      }
    }
    .prsnl-info {
      width: 100%;
      @include d-flex(column, none, none);
      .scroll {
        overflow-x: hidden;
      }
      .info {
        @include d-flex(column, flex-start, space-between);
        padding: 2rem;
        height: 400px;
        margin-bottom: 1rem;
        li {
          border-bottom: solid 1px #546e7a;
        }
        .mb-1 {
          margin-bottom: 1.5rem;
        }
        .mb-2 {
          margin-bottom: 1rem;
        }
      }
    }
    .btn-dark {
      &:hover {
        background-color: $dark-color;
        color: white;
      }
    }
    .post {
      padding: 1rem;
      margin: 0.75rem 0;
      width: 100%;
      border-radius: 5px;
      .person-post {
        @include d-flex(column, center, center);
        .user-image {
          height: 100%;
          width: 100%;
          padding: 0.35rem;
          margin-bottom: 0.3rem;
          h4 {
            width: 100%;
            font-size: 0.75rem;
            text-align: center;
          }
          img {
            height: 50px;
            width: 50px;
            border: none;
            border-radius: 50%;
            display: inline-block;
            margin: auto;
          }
          .dark {
            font-weight: 600;
          }
        }
        .content {
          width: 100%;
          .info {
            margin-bottom: 0.45rem;
            width: inherit;
            padding: 0 0;
            p {
              width: inherit;
              color: $dark-color;
              font-size: 1rem;
              font-weight: 500;
            }
          }
          .rate {
            margin-bottom: 0.45rem;
            margin-right: 0;
            .btn-dark {
              padding: 0.45rem 0.6rem;
              font-size: 0.75rem;
            }
            .discuss {
              margin-top: 0.45rem;
              margin-bottom: 0;
              width: 40%;
              padding: 0.5rem 0.6rem;
              font-size: 0.9rem;
              border-radius: 4px;
              text-align: center;
            }
          }
        }
      }
    }
  }
  .py-heading {
    font-size: 1.5rem;
    margin: 0.75rem 0;
  }
  .sc-heading {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
  }
  #profile-back-btn {
    margin-top: 2rem;
  }
}
