<nav id="navNavbar" class="bg-dark opacity-present">
    <div class="container">
        <div id="nav-content">
            <h2 id="dashboard">
                <a href="./dashboard.html">
                    <i class="fas fa-code"></i> Dev-Connect
                </a>
            </h2>
            <ul>
                <li>
                    <a href="../templates/developers.html">Developers</a>
                </li>
                <li><a href="../templates/register.html">Register</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </div>
</nav>