<nav id="navNavbar" class="bg-dark opacity-present">
    <div class="container">
        <div id="nav-content">
            <h2 id="dashboard">
                <a href="dashboard">
                    <i class="fas fa-code"></i> Dev-Connect
                </a>

            </h2>
            <ul>
                <li>
                    <a href="/developer">Developers</a>
                </li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li>
                    <a href="/posts">Posts</a>
                </li>
                <li>
                    <a href="Dashboard">Dashboard</a>
                </li>

                {{#if user}}
                <li><a href="/auth/logout">Logout</a></li>
                {{else}}
                <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>