<section id="dashboard">
    <div class="inner-content">
        <h1 class="py-heading success">Dashboard</h1>
        <p class="lead">
            <i class="fas fa-user dashboard"></i>Welcome {{user.firstName}}
        </p>
        <div class="dashboard-links">
            {{#if profile}}
            <form action="/profile/edit/{{profile.id}}?_method=put" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-light active-btn">
                    <i class="fas fa-user-circle"></i>Edit Profile
                </button>
            </form>
            {{else}}
            <a href="/createprofile" class="btn btn-light active-btn">
                <i class="fas fa-user-circle"></i>Create Profile
            </a>
            {{/if }}
            <a href="experience" class="btn btn-light">
                <i class="fab fa-black-tie"></i>Add Experience
            </a>
            <a href="education" class="btn btn-light">
                <i class="fas fa-graduation-cap"></i>Add Education
            </a>
        </div>
        <h2 class="sc-heading dark">Experience Credentials</h2>
        <table class="table">
            <thead>
                <th>Company</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th></th>
            </thead>
            <tbody class="exptable">

            </tbody>
        </table>
        <h2 class="sc-heading dark ">Education Credentials</h2>
        <table class="table edu-table">
            <thead>
                <th>School</th>
                <th>Degree</th>
                <th>Year</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td class="school"></td>
                    <td class="degree"></td>
                    <td class="from"></td>
                    <td class="to"></td>
                    <td>
                        <form class="edu-delete" method="POST">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>

            </tbody>
        </table>
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>Delete My Account
        </button>
    </div>

</section>
<script>
    let edutable = document.querySelector(".edu-table");
    let exptable = document.querySelector(".exptable");
    let school = document.querySelector(".school");
    let degree = document.querySelector(".degree");
    let from = document.querySelector(".from")
    let to = document.querySelector(".to");
    let form = document.createElement("form");

    fetch("/education/data").then((res) => res.json()).then(data => {

        school.textContent = data.school;
        degree.textContent = data.degree;
        from.textContent = data.from;
        to.textContent = data.to

    });

    fetch("/experience/data").then(res => res.json()).then(data => {
        data.forEach(item => {
            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            let td2 = document.createElement("td");
            let td3 = document.createElement("td");
            let td4 = document.createElement("td");
            let td5 = document.createElement("td");
            let form = document.createElement("form");
            form.setAttribute("action", "/experience/delete/" + item._id + `?_method=DELETE`)
            form.setAttribute("method", "POST")
            let a = document.createElement("button");
            let input = document.createElement("input");
            input.setAttribute("type", "hidden");
            input.setAttribute("name", "_method");
            input.setAttribute("value", "DELETE");
            td1.textContent = item.organization
            td2.textContent = item.job
            td3.textContent = item.from
            td4.textContent = item.to
            a.textContent = "Delete"
            a.classList.add("btn")
            a.classList.add("btn-danger")
            a.setAttribute("type", `Submit`);
            form.appendChild(a);
            form.appendChild(input)
            td5.appendChild(form);
            tr.appendChild(td1)
            tr.appendChild(td2)
            tr.appendChild(td3)
            tr.appendChild(td4)
            tr.appendChild(td5)
            exptable.appendChild(tr);
        })
    })

</script>