<section id="dashboard">
    <div class="inner-content">
        <h1 class="py-heading success">Dashboard</h1>
        <p class="lead">
            <i class="fas fa-user dashboard"></i>Welcome {{user.firstName}}
        </p>
        <div class="dashboard-links">
            <a href="/createprofile" class="btn btn-light active-btn">
                <i class="fas fa-user-circle"></i>Edit Profile
            </a>
            <a href="experience" class="btn btn-light">
                <i class="fab fa-black-tie"></i>Add Experience
            </a>
            <a href="education" class="btn btn-light">
                <i class="fas fa-graduation-cap"></i>Add Education
            </a>
        </div>
        <h2 class="sc-heading dark">Experience Credentials</h2>
        <table class="table">
            <thead>
                <th>Company</th>
                <th>Title</th>
                <th>From</th>
                <th>To</th>
                <th></th>
            </thead>
            <tbody class="exptable">
                {{!-- <tr>
                    <td>NCS</td>
                    <td>Back-End Developer</td>
                    <td>Feb-2019-Present</td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                <tr>
                    <td>Freelancer</td>
                    <td>Back-End Developer</td>
                    <td>Aug-2018-Present</td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr> --}}
            </tbody>
        </table>
        <h2 class="sc-heading dark ">Education Credentials</h2>
        <table class="table edu-table">
            <thead>
                <th>School</th>
                <th>Degree</th>
                <th>Year</th>
                <th></th>
            </thead>
            <tbody>
                <tr>
                    <td class="school"></td>
                    <td class="degree"></td>
                    <td class="from"></td>
                    <td class="to"></td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr>
                {{!-- <tr>
                    <td>School -2</td>
                    <td>Intermediate</td>
                    <td>2017</td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr> --}}
                {{!-- <tr>
                    <td>JSS Academy of Technical Education</td>
                    <td>Under-Graduation</td>
                    <td>2018-Present</td>
                    <td><button class="btn btn-danger">Delete</button></td>
                </tr> --}}
            </tbody>
        </table>
        <button class="btn btn-danger">
            <i class="fa fa-trash" aria-hidden="true"></i>Delete My Account
        </button>
    </div>
    {{!-- <div>{{education}}</div> --}}
</section>
<script>
    let edutable = document.querySelector(".edu-table");
    let exptable = document.querySelector(".exptable");
    let school = document.querySelector(".school");
    let degree = document.querySelector(".degree");
    let from = document.querySelector(".from")
    let to = document.querySelector(".to");

    fetch("/education/data").then((res) => res.json()).then(data => {

        school.textContent = data.school;
        degree.textContent = data.degree;
        from.textContent = data.from;
        to.textContent = data.to

    });

    fetch("/experience/data").then(res => res.json()).then(data => {
        data.forEach(item => {
            let tr = document.createElement("tr");
            let td1 = document.createElement("td");
            let td2 = document.createElement("td");
            let td3 = document.createElement("td");
            let td4 = document.createElement("td");
            let td5 = document.createElement("td");
            let a = document.createElement("a");
            td1.textContent = item.organization
            td2.textContent = item.job
            td3.textContent = item.from
            td4.textContent = item.to
            a.textContent = "Delete"
            a.classList.add("btn")
            a.classList.add("btn-danger")
            a.setAttribute("href", `/experience/delete/${item._id}`);
            td5.appendChild(a)
            tr.appendChild(td1)
            tr.appendChild(td2)
            tr.appendChild(td3)
            tr.appendChild(td4)
            tr.appendChild(td5)
            exptable.appendChild(tr);
        })
    })

</script>