<section id="developers">
    <div class="inner-content">
        <h1 class="py-heading success">Developers</h1>
        <p class="lead">
            <i class="fab fa-connectdevelop"></i> Browse and Connect with
            Developers
        </p>
        <div class="developer bg-light">
            <img src="../img/dev_one.jpg" alt="Devansh gera" />
            <div class="developer-info">
                <h3>Devansh Gera</h3>
                <p>
                    <i class="fa fa-building" aria-hidden="true"></i>Back-End
                    Developer At NCS
                </p>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Noida,India
                </p>
                <a href="/profile" class="btn btn-primary">View Profile</a>
            </div>
            <div class="developer-skills col">
                <span><i class="fas fa-check"></i>HTML</span>
                <span><i class="fas fa-check"></i>CSS</span>
                <span><i class="fas fa-check"></i>Javascript</span>
                <span><i class="fas fa-check"></i>Node.js</span>
            </div>
        </div>
        <div class="developer bg-light">
            <img src="../img/dev_two.jpg" alt="Vikas Verma" />
            <div class="developer-info">
                <h3>Vikas Verma</h3>
                <p>
                    <i class="fa fa-building" aria-hidden="true"></i>Front-End
                    Developer
                </p>
                <p>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>Noida,India
                </p>
                <a href="../templates/profile.html" class="btn btn-primary">View Profile</a>
            </div>
            <div class="developer-skills col">
                <span><i class="fas fa-check"></i>HTML</span>
                <span><i class="fas fa-check"></i>CSS</span>
                <span><i class="fas fa-check"></i>Javascript</span>
                <span><i class="fas fa-check"></i>Bootstrap</span>
                <span><i class="fas fa-check"></i>Sass</span>
            </div>
        </div>
    </div>
</section>