<section id="experience">
    <div class="inner-content mb-top">
        <h1 class="py-heading success">Add An Experience</h1>
        <p class="lead">
            <i class="fas fa-code-branch"></i>Add any developer/programming
            positions that you had in the past
        </p>
        <small class="small-info">* Required</small>
        <form  action="/experience" method="POST" class="form">
            <div class="input-group">
                <input type="text" name="job" id="job" placeholder="* Job Title" />
            </div>
            <div class="input-group">
                <input type="text" id="organization" name="organization" placeholder="* Organization" />
            </div>
            <div class="input-group">
                <input type="text" name="location" id="location" placeholder="Location" />
            </div>
            <div class="input-group">
                <label for="from-date">From Date</label>
                <input type="date" name="from" id="from-date" placeholder="dd-mm-yyyy" />
            </div>
            <div class="input-group">
                <label for="to-date">To-date</label>
                <input type="date" name="to" id="to-date" placeholder="dd-mm-yyyy" />
            </div>
            <div class="input-group">
                <textarea name="description" id="job-Description" cols="30" rows="10"
                    placeholder="Job Description"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Submit" />
            <a class="btn btn-light" href="../templates/dashboard.html"><i class="fas fa-arrow-left"></i>Go Back</a>
        </form>
    </div>
</section>
