<header id="header">
    <div id="dark-overlay">
        <div id="header-content">
            <h1 id="primary-heading">Dev-Connect</h1>
            <h2 id="sub-heading"></h2>
            <p class="lead">
                Create a developer profile/portfolio , share posts and get help from
                other developers
            </p>
            <div id="buttons">
                <a href="/login" id="login-btn" class="bg-primary">Login
                </a>
                <a href="../templates/register.html" id="sign-btn" class="bg-light">Sign Up</a>
            </div>
        </div>
    </div>

</header>