<section id="dashboard">
    <div class="inner-content mb-top">
        <a href="posts" class="btn btn-light"><i class="fas fa-arrow-left"></i>Back To Posts</a>
        <div class="post bg-light">
            <div class="person">
                <img src="../img/dev_two.jpg" alt="Vikas Verma" />
                <strong class="dark">Vikas Verma</strong>
            </div>
            <div class="content">
                <div class="info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
                        numquam laborum optio tempore possimus voluptas modi beatae!
                        Doloremque, sapiente commodi.
                    </p>
                </div>
            </div>
        </div>
        <p class="lead bg-primary style-lead">Leave a Comment</p>
        <form action="" class="form">
            <div class="input-group">
                <textarea name="Comment" id="comment" cols="10" rows="10" placeholder="Comment on this post"></textarea>
            </div>
            <input type="submit" value="Submit" class="btn btn-dark" />
        </form>
    </div>
</section>