<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dev-Connect : Developers</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navNavbar" class="bg-dark opacity-present">
      <div class="container">
        <div id="nav-content">
          <h2 id="dashboard">
            <a href="./dashboard.html">
              <i class="fas fa-code"></i> Dev-Connect
            </a>
          </h2>
          <ul>
            <li>
              <a href="../templates/developers.html" class="active"
                >Developers</a
              >
            </li>
            <li><a href="../templates/register.html">Register</a></li>
            <li><a href="../templates/login.html ">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="developers">
      <div class="inner-content">
        <h1 class="py-heading success">Developers</h1>
        <p class="lead">
          <i class="fab fa-connectdevelop"></i> Browse and Connect with
          Developers
        </p>
        <div class="developer bg-light">
          <img src="../img/dev_one.jpg" alt="Devansh gera" />
          <div class="developer-info">
            <h3>Devansh Gera</h3>
            <p>
              <i class="fa fa-building" aria-hidden="true"></i>Back-End
              Developer At NCS
            </p>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>Noida,India
            </p>
            <a href="../templates/profile.html" class="btn btn-primary"
              >View Profile</a
            >
          </div>
          <div class="developer-skills col">
            <span><i class="fas fa-check"></i>HTML</span>
            <span><i class="fas fa-check"></i>CSS</span>
            <span><i class="fas fa-check"></i>Javascript</span>
            <span><i class="fas fa-check"></i>Node.js</span>
          </div>
        </div>
        <div class="developer bg-light">
          <img src="../img/dev_two.jpg" alt="Vikas Verma" />
          <div class="developer-info">
            <h3>Vikas Verma</h3>
            <p>
              <i class="fa fa-building" aria-hidden="true"></i>Front-End
              Developer
            </p>
            <p>
              <i class="fa fa-map-marker" aria-hidden="true"></i>Noida,India
            </p>
            <a href="../templates/profile.html" class="btn btn-primary"
              >View Profile</a
            >
          </div>
          <div class="developer-skills col">
            <span><i class="fas fa-check"></i>HTML</span>
            <span><i class="fas fa-check"></i>CSS</span>
            <span><i class="fas fa-check"></i>Javascript</span>
            <span><i class="fas fa-check"></i>Bootstrap</span>
            <span><i class="fas fa-check"></i>Sass</span>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://kit.fontawesome.com/6411353ab6.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/app.js"></script>
  </body>
</html>
