<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Welcome to the Dev-Connector</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navNavbar" class="bg-dark opacity-present">
      <div class="container">
        <div id="nav-content">
          <h2 id="dashboard">
            <a href="./dashboard.html">
              <i class="fas fa-code"></i> Dev-Connect
            </a>
          </h2>
          <ul>
            <li>
              <a href="../templates/developers.html">Developers</a>
            </li>
            <li><a href="../templates/register.html">Register</a></li>
            <li><a href="../templates/login.html ">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <header id="header">
      <div id="dark-overlay">
        <div id="header-content">
          <h1 id="primary-heading">Dev-Connect</h1>
          <h2 id="sub-heading"></h2>
          <p class="lead">
            Create a developer profile/portfolio , share posts and get help from
            other developers
          </p>
          <div id="buttons">
            <a href="#" id="login-btn" class="bg-primary">Login </a>
            <a href="#" id="sign-btn" class="bg-light">Sign Up</a>
          </div>
        </div>
      </div>
    </header>
    <script
      src="https://kit.fontawesome.com/6411353ab6.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/app.js"></script>
  </body>
</html>
