<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dev-Connect : Your profile</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav id="navNavbar" class="bg-dark opacity-present">
      <div class="container">
        <div id="nav-content">
          <h2 id="dashboard">
            <a href="./dashboard.html">
              <i class="fas fa-code"></i> Dev-Connect
            </a>
          </h2>
          <ul>
            <li>
              <a href="../templates/developers.html"
                >Developers</a
              >
            </li>
            <li><a href="../templates/register.html">Register</a></li>
            <li><a href="../templates/login.html ">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="developers">
      <div class="inner-content">
        <a class="btn btn-light" href="../templates/developers.html"
          ><i class="fas fa-arrow-left"></i>Back to Profiles</a
        >
        <div class="profile-menu bg-primary">
          <img src="../img/dev_two.jpg" alt="Vikas Verma" />
          <h1 class="py-heading white">Vikas Verma</h1>
          <p class="lead white">Front-End Developer</hp>
          <p>Noida,India</p>
          <div class="profile-menu-icon">
            <a  traget="_blank"href="https://www.github.com"><i class="fab fa-github fa-2x"></i></a>
            <a  traget="_blank"href="https://www.linkedin.com"><i class="fab fa-linkedin fa-2x"></i></a>
            <a  traget="_blank"href="https://www.twitter.com"><i class="fab fa-twitter fa-2x" ></i></a>
            <a  traget="_blank"href="https://www.facebook.com"><i class="fab fa-facebook fa-2x"></i></a>
            <a  traget="_blank"href="https://www.instagram.com"><i class="fab fa-instagram fa-2x"></i></a>
          </div>
        </div>
        <div class="profile-menu bg-light border bd-primary dark">
          <h3 class="sc-heading primary">Vikas Verma</h3>
          <p class="dark bio-p">I am a IInd Year Student pursuing B.tech In Computer Science. I am Front-end Developer Specializing in HTML,CSS,Javascript,Bootstrap,etc</p>
          <h3 class="sc-heading primary">Skill Set</h3>
          <div class="developer-skills row dark">
            <span><i class="fas fa-check"></i>HTML</span>
            <span><i class="fas fa-check"></i>CSS</span>
            <span><i class="fas fa-check"></i>Javascript</span>
            <span><i class="fas fa-check"></i>Bootstrap</span>
            <span><i class="fas fa-check"></i>Sass</span>
          </div>
        </div>
        <div class="prsnl-info ">
          <div class="info border bd-primary bg-light">
            <h3 class="sc-heading primary">Experinces</h3>
            <ul class="exp-items">
              <li class="mb-1"> <strong>Freelancing</strong>
              </li>
            </ul>
           
          </div>
          <div class="info border bd-primary bg-light">
            <h3 class="sc-heading primary">Education</h3>
            <ul class="edu-items">
              <li>
                <strong class>JSS Academy Of Technical Education</strong>
                <p class="mb-1">Aug 2018-Present</p>
                <p class="mb-2"><strong>Degree :</strong> B.TECH</p>
                <p class="mb-2"><strong>Field Of Study :</strong> Computer Science</p>
                <p class="mb-2"><strong>Description :</strong> Computer Science</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://kit.fontawesome.com/6411353ab6.js"
      crossorigin="anonymous"
    ></script>
    <script src="../js/app.js"></script>
  </body>
</html>
